/* General styles */
body {
    background-image: url("../background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', sans-serif;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

.input-container {
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Connect MetaMask button positioned to the top right */
#connectWalletBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff3604;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for Connect MetaMask button */
#connectWalletBtn:hover {
    background-color: #fceb03;
}

/* Common button styles */
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Added transition for transform property */
    text-align: center;
    font-size: 0;
    border: none;
    background-color: transparent;
}

/* Hover effect for buttons */
.btn:hover {
    transform: scale(1.05); /* Scale the button slightly larger on hover */
}

/* Style for image buttons */
.btn.btn-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 90px;
}

/* Claim Rewards button image */
#claimRewardsBtn.btn-image {
    background-image: url('../bean.png');
}

/* Mine button image */
#mineBtn.btn-image {
    background-image: url('../bean.png');
}

/* Join Game button image */
#joinGameBtn.btn-image {
    background-image: url('../bean.png');
}

/* Accept Invite button image */
#acceptInviteBtn.btn-image {
    background-image: url('../bean.png');
}

/* Create Team button image */
#createTeamBtn.btn-image {
    background-image: url('../bean.png');
}

/* Invite button image */
#inviteBtn.btn-image {
    background-image: url('../bean.png');
}

/* Text styles */
.btn .btn-text {
    color: #ff9203;
    font-size: 12px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 2px 2px 4px rgb(230, 1, 1);
}

h1 {
    color: rgb(255, 153, 0);
    text-shadow: 2px 2px 4px #000;
}

/* Input box styles */
.input-container input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: orange;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    transition: border-color 0.3s;
    animation: pulseBorder 2s infinite;
}

/* Pulsing border animation */
@keyframes pulseBorder {
    0% {
        border-color: #f19e02;
    }
    50% {
        border-color: #000000;
    }
    100% {
        border-color: transparent;
    }
}

/* Orange rain effect */
@keyframes orangeRain {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}

#rainEffectContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.orange-drop {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: orange;
    border-radius: 50%;
    opacity: 0.5;
    animation: orangeRain 1.5s linear infinite;
}

