/* General styles */
body {
    background-image: url("../background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', sans-serif;
    color: #fc7a00;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative;
}

.input-container {
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Connect MetaMask button positioned to the top right */
#connectWalletBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff3604;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for Connect MetaMask button */
#connectWalletBtn:hover {
    background-color: #fceb03;
}

/* Common button styles */
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Added transition for transform property */
    text-align: center;
    font-size: 0;
    border: none;
    background-color: transparent;
}

/* Hover effect for buttons */
.btn:hover {
    transform: scale(1.05); /* Scale the button slightly larger on hover */
}

/* Style for image buttons */
.btn.btn-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 90px;
}

/* Claim Rewards button image */
#claimRewardsBtn.btn-image {
    background-image: url('../bean.png');
}

/* Mine button image */
#mineBtn.btn-image {
    background-image: url('../cookpot.png');
}

/* Join Game button image */
#joinGameBtn.btn-image {
    background-image: url('../bean.png');
}

/* Accept Invite button image */
#acceptInviteBtn.btn-image {
    background-image: url('../bean.png');
}

/* Create Team button image */
#createTeamBtn.btn-image {
    background-image: url('../bean.png');
}

/* Invite button image */
#inviteBtn.btn-image {
    background-image: url('../bean.png');
}

/* Text styles */
.btn .btn-text {
    color: #000000;
    font-size: 12px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 2px 4px rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 153, 0);
    text-shadow: 4px 2px 4px #020202;
}

/* Input box styles */
.input-container input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: orange;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    transition: border-color 0.3s;
    animation: pulseBorder 2s infinite;
}

/* Pulsing border animation */
@keyframes pulseBorder {
    0% {
        border-color: #f19e02;
    }
    50% {
        border-color: #000000;
    }
    100% {
        border-color: transparent;
    }
}

/* Orange rain effect */
@keyframes orangeRain {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}

#rainEffectContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.orange-drop {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: orange;
    border-radius: 50%;
    opacity: 0.5;
    animation: orangeRain 1.5s linear infinite;
}

/* List to display team invitations */
#teamInvitationsList {
    position: fixed;
    bottom: 20px;
    left: 20px;
    list-style: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
    max-width: 300px; /* Adjust width as needed */
    overflow-y: auto; /* Add scrollbar when content exceeds height */
    max-height: 200px; /* Adjust max height as needed */
    z-index: 1000; /* Ensure the list is above other elements */
}

/* Twitter logo */
.twitter-logo {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Updated to position at the bottom right side */
    width: 40px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
    z-index: 1000; /* Ensure the Twitter logo is above other elements */
}
